.content-item img {
    width: 350px;
    border-radius: 1.1rem;
    transition: .3s ease;
}
.content-item img:hover{
    transform: scale(0.98);
}
.content-item {
    border-radius: 1rem;
    background-color: #E8E8E8;
    border: 1px solid hsla(0, 0%, 100%, .2);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: .3s ease;
}
.content-item:hover{
    transform: scale(1.02);
}
.content-head {
    font-size: 2rem;
    color: #2FAF57;
    font-family: 'Josefin Sans', sans-serif;
}
.content-para{
    font-family: 'Ubuntu', sans-serif;
}
@media(max-width:1100px){
    .content-item{
        flex-wrap: wrap;
    }
}