.modi-img {
    width: 100%;
    border-radius: 1rem;
}

.home {
    margin: 1.2rem;
}

.home-main {
    position: absolute;
    top: 24rem;
    left: 4rem;
    width: 40%;
    padding: .8rem;
    color: white;
    backdrop-filter: blur(3px) saturate(180%);
    -webkit-backdrop-filter: blur(3px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

}

.home-main-head {
    font-family: 'Kanit', sans-serif;
    font-size: 1.8rem;
}
.home-main-des{
    font-size: 1rem;
}

@media(max-width:1160px) and (min-width:1050px) {
    .home-main {
        position: absolute;
        top: 18rem;
        left: 3.5rem;
        width: 37%;
    }
    .home-main-head{
        font-size: 1.5rem;
    }
    .home-main-des{
        font-size: .9rem;
    }
}