label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black); /* You can adjust the color */
}

span {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--black); /* Icon color */
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid var(--cardBorder);
    border-radius: 0.3rem;
    background-color: transparent; /* Transparent background */
    color: var(--black); /* Text color */
    transition: border-color 0.4s ease; 
  }

   .card{
    height: 29rem;
    width:32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    color: black;
    border: 0.2rem solid var(--cardBorder);
    border-radius: 1.5rem;
    padding: 0rem 2rem;
    backdrop-filter: blur(1.7rem);
    position: relative;
    z-index: 10;  
  }

  .form_title{
    color:white;
    marin:0 auto;
    font-size: 1.9rem;
  }
  .form_title_div{
    margin:0 auto;
  }
  .desc_div{
    margin-top: -1rem;
  }
  .desc{
    font-size: 1.2rem;
    color: #ffffff85;
  }
  .loginbtn{
    width: 10rem;
    margin:0.7rem auto;
    font-weight:bolder;
    color: var(--btnFocus);
    background: var(--btnBg);
    text-transform: capitalize;
    border: 0.2rem solid var(--btnFocus);
    border-radius: 0.4rem;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
  
  }
  .loginbtn:hover {
    background: var(--btnFocus);
    color: #131313;
  }
  .circle-top{
    width: 14rem;
    height:  14rem;
    border-radius: 50%;
    position: fixed;
    top: 13%;
    left: 30%;
    z-index: 1;  
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
    box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.5);
    animation: circleTop 9s ease infinite ;
  }
   .circle-bottom{
    width:  14rem;
    height:  14rem;
    border-radius: 50%;
    position: fixed;
    bottom: 1%;
    right: 30%;
    z-index: 1;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
    box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.5);
    animation: circleBottom 6s ease infinite;
  }
  @keyframes circleTop{
    50%{
        left: 33%;
        top: 8%;
        scale: 1.05;
    }
  }
  @keyframes circleBottom{
    50% {
        bottom: 4%;
        right: 25%;
    }
  }
  
  .email_div{
    margin-top:0.2rem;
  }
  .input_container{
    display: flex;
    /* align-items: center; */
  }
  .email_div2{
    margin-top:-0.2rem;
  }
  
  /* Add this to your existing CSS styles */
  .registration_link {
    text-align: center;
    margin-top: 0.7rem; /* Adjust margin as needed */
  }
  
  .registration_link p {
    font-size: 1rem;
    color: var(--white); /* Text color */
  }
  
  .registration_link .link_tag {
    color: var(--btnFocus); /* Link color */
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
  .registration_link .link_tag:hover {
    color: #131313; /* Hover color */
  }
  